.header-boder {
  border: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }

  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav__list {
    display: none;
  }

  .contact {
    display: none;
  }

  .mobile-menu {
    flex-direction: column;
    margin-top: auto;

    position: fixed;
    overflow-y: scroll;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: 767px;
    z-index: 100;
    padding: 48px 40px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    transform: translateY(-100%) translateX(-100%);
    transition: transform 250ms linear;

    &__close-btn {
      position: absolute;
      top: 10px;
      right: 15px;
    }

    &__item {
      font-family: $main-font;
      font-weight: 500;
      font-size: 40px;
      line-height: 1.17;
      letter-spacing: 0.02em;

      color: $accent-color;

      &:not(:last-child) {
        padding-bottom: 30px;
      }
    }

    &__link {
      color: $accent-color;

      &:hover,
      &:focus {
        color: $active-color;
      }
    }
  }

  .mobile-contact {
    flex-direction: column-reverse;
    margin-top: auto;

    left: auto;
    bottom: 0;
  }
  .contact-mobile {
    padding-bottom: 64px;

    &__item {
      &:not(:last-child) {
        padding-bottom: 30px;
      }
    }

    &__tel {
      font-family: $main-font;
      font-weight: 500;
      font-size: 34px;
      line-height: 1.18;
      letter-spacing: 0.02em;

      color: #2196f3;
    }

    &__mailto {
      font-family: $main-font;
      font-weight: 500;
      font-size: 24px;
      line-height: 1.16;
      letter-spacing: 0.02em;

      color: $secondary-color;
    }
  }

  .mobile-social {
    &__list {
      display: flex;
      flex-wrap: wrap;
    }
    &__item {
      display: flex;
      align-items: center;

      font-family: $main-font;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em;
      color: $active-color;

      &:not(:last-child)::after {
        content: "";
        width: 22px;
        height: 0px;
        border-color: rgba(33, 33, 33, 0.1);
        border: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
      }
    }

    &__link {
      color: $active-color;
    }
  }

  .is-open {
    transform: translateY(0) translateX(0);
  }
}

.burger-btn,
.mobile-menu__close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 40px;
  cursor: pointer;
}

.burger-btn__icon,
.close-btn__icon {
  width: 40px;
  height: 40px;
  fill: $accent-color;

  &:hover,
  &:focus {
    fill: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .nav__list {
    display: flex;
  }

  .contact {
    // padding-top: 20px;
    // padding-bottom: 20px;
    display: inline-block;
    align-items: center;
    margin-left: auto;

    &__item {
      display: flex;
      align-items: center;
      fill: $secondary-color;
    }

    &__link {
      display: flex;
      align-items: center;
      font-family: $main-font;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.02em;

      color: $secondary-color;
      transition: $transition-animation;

      &.mail {
        padding-top: 20px;
        margin-bottom: 10px;
      }

      &.tel {
        padding-bottom: 20px;
      }
      &:hover,
      &:focus {
        color: $active-color;

        .contact__icon {
          fill: $active-color;
        }
      }
    }

    &__icon {
      display: flex;
      align-items: center;
      margin-right: 10px;
      fill: $secondary-color;
    }
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    margin-left: auto;
    align-items: center;

    &__item {
      display: flex;
      align-items: center;
      fill: $secondary-color;
      margin-top: 0;

      &:not(:last-child) {
        margin-right: 50px;
      }

      &__icon {
        display: flex;
        align-items: center;
        margin-right: 10px;
      }

      &__link {
        display: flex;
        font-family: $main-font;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        color: $secondary-color;
        display: flex;
        align-items: center;
        transition: $transition-animation;

        &:hover,
        &:focus {
          color: $active-color;
          fill: $active-color;
        }
      }
    }
  }
}
