.contact {
  &__link {
    font-family: $main-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;

    color: $secondary-color;

    display: flex;
    align-items: center;

    transition: $transition-animation;

    &:hover,
    &:focus {
      color: $active-color;
      fill: $active-color;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
}
